/* purgecss start ignore */

:root {
  --header-height: 60px;
}

body {
  @apply antialiased;
}

.container {
  max-width: 1080px;
  padding: 0 10px;
}

.main {
  margin-top: var(--header-height);
  padding: 30px 0;
}

.markdown-body pre {
  @apply bg-gray-900;
  @apply text-gray-100;
  @apply p-5;
  @apply rounded-lg;
  @apply my-5;
}

.markdown-body p {
  @apply my-5;
}

.markdown-body h2 {
  @apply text-3xl;
  @apply my-8;
}

.markdown-body h2 code {
  @apply text-3xl !important;
}

.markdown-body h3 {
  @apply text-2xl;
  @apply my-8;
}

.markdown-body h3 code {
  @apply text-2xl !important;
}

.markdown-body :not(pre) code {
  @apply bg-blue-50;
  @apply p-1;
  @apply rounded;
  @apply text-sm;
}

.markdown-body a {
  @apply text-blue-600;
}

.markdown-body a:hover {
  @apply underline;
}

.markdown-body ul {
  @apply list-disc;
  @apply pl-5;
}

.markdown-body ul li {
  @apply mb-1;
}

/* purgecss end ignore */
